#abc{
    width: 200px;
    height: 300px;
} #def{
    width: 200px;
    height: 300px;
}
#ghi{
    width: 200px;
    height: 300px;
}
#jkl{
    width: 300px;
    height: 300px;
}
h1{
    background-color: purple;
    color: white;
}
h3{
    color: darkblue;
}
h2{
    color: rgb(0, 115, 255);
}
h1:hover{
    background-color: red;
}